body {
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
}

.widget {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    color: white;
}

.temp{
    font-size: 40px;
    font-weight: bold;
}

.desc {
    opacity: 0.8;
}